fastapi
prometheus-client==0.21.0
uvicorn 

numpy>=1.23,<1.26
pandas>=2.2
scikit-learn>=1.4

tensorflow-cpu==2.15.0
keras==2.15.*
tensorflow_probability==0.23.0
gradio>=4.0.0

setfit
alibi-detect==0.12.0
sentence-transformers==3.0.1
torch==2.3.1
datasets
pyyaml==6.0.1
